doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr-2.8.3.min.js')
    script(src="webcomponentsjs/webcomponents.min.js")
    script(src="https://www.google.com/jsapi")
    script.
      google.load('visualization', '1.0', {'packages':['line']});
      google.setOnLoadCallback(function () {
        window.gchartsLoaded = true;
      });
    link(rel='import', href="elements/my-element.html")
  body
    <!--[if lt IE 8]>
    p.browserupgrade
      | You are using an 
      strong outdated
      |  browser. Please 
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
    <![endif]-->
    .header-container
      header.wrapper.clearfix
        h1.title h1.title
        nav
          ul
            li
              a(href='#') nav ul li a
            li
              a(href='#') nav ul li a
            li
              a(href='#') nav ul li a
    .main-container
      .main.wrapper.clearfix
        my-element
      // #main
    // #main-container
    .footer-container
      footer.wrapper
        h3 footer
    script(src='js/main.js')
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-61797737-1','auto');ga('send','pageview');
